.faq {
    margin: auto;
    padding: 4rem 1rem 0 1rem;
    width: 100%;
    /* background-color: var(--secondary-color); */
    height: 70vh;
}

.faq .container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.faq h2{
    color: var(--primary-color);

}

.faq p{
    font-size: 3rem;

}

.far .container .col-2 {
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .faq {
        margin: auto;
    }
    .faq .container{
        display: flex;
        flex-direction: column;
        padding: 4rem;
        align-items: center;
        justify-content: center;
    }

    .faq h2 {
        text-align: center;
        margin-bottom: 10px;
        /* margin: ; */
    }
}

