.navbar{
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    transition: 3s ease-in;
    /* padding: 4rem 1rem 1rem 1rem; */
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: white;

}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
    
}

.list {
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

a {
    color: hsl(0, 0%, 0%);
}

.container .login ul{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    
}

.container .login ul .Signup{
    background-color: var(--primary-color);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container .login ul .Signup:hover{
    background-color: var(--primary-dark);

}
.logo{
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
}

.logo p{
    color: var(--primary-color);
}

.navbar .container .list li  {
    cursor: pointer;
}

@media screen and (max-width:600px){
    .navbar .container {
        justify-content: space-between;
        align-items: center;
    }

    .container .login ul{
        font-size: 1rem;
    }

    .container .list {
        display: none;
    }
    .logo {
        font-size: 2rem;

    }
}
